--- 

title: Adam Acree Comedy
layout: base.njk

---


<header class="header">
  <span class="logo-nav">
    <a href="#">
      ADAM ACREE
    </a>
  </span>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#">Home</a></li>
      <li><a class="main-nav-link" href="#tour">Tour</a></li>
      <li><a class="main-nav-link" href="#podcast">Podcast</a></li>
      <li><a class="main-nav-link" href="#media">Media</a></li>
      <li><a class="main-nav-link nav-cta" href="#store">Store</a></li>
      <li><a class="main-nav-link nav-cta" href="#contact">Contact</a></li>
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>

<main>
  <section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Adam Acree Comedy
        </h1>

        <a href="#cta" class="btn btn--full margin-right-sm"
          >Buy Tickets</a
        >
      </div>
      {# <div class="hero-img-box">          
        <img
          src="img/stage-hero.jpg"
          class="hero-img"
          alt="A stage"
        /> #}


      </div>
    </div>
  </section>

  
</main>

<footer class="footer">
  <div class="container grid grid--footer">
    <div class="logo-col">
      <span class="footer-logo logo">
        <a href="#">
          ADAM ACREE
        </a>
      </span>


      <ul class="social-links">
        <li>
          <a class="footer-link" target="_blank" href="https://www.instagram.com/awacree/"
            ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://youtube.com/channel/UC1OAr9-SUJNCUm2svZbfh0A"
            ><ion-icon class="social-icon" name="logo-youtube"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://twitter.com/TrueAdamWayne"
            ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
          ></a>
        </li>
      </ul>

      <p class="copyright">
        Copyright &copy; <span class="year">2027</span> by Jacot Studios, Inc. All rights reserved.
      </p>
    </div>

    <div class="address-col">
      <p class="footer-heading">Contact us</p>
      <address class="contacts">
        <p class="address">
          623 Harrison St., 2nd Floor, San Francisco, CA 94107
        </p>
        <p>
          <a class="footer-link" href="tel:502-260-7334">502-260-7334</a
          ><br />
          <a class="footer-link" href="mailto:adamacreecomedy@jacotstudios.com"
            >adamacreecomedy@jacotstudios.com</a
          >
        </p>
      </address>
    </div>






  </div>
</footer>