--- 

title: Adam Acree Comedy
layout: base.njk

---


<header class="header">
  <span class="logo-nav">
    <a href="#">
      ADAM ACREE
    </a>
  </span>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#">Home</a></li>
      {# <li><a class="main-nav-link" href="#tour">Tour</a></li> #}
      <li><a class="main-nav-link" href="#podcast">Podcast</a></li>
      <li><a class="main-nav-link" href="https://www.youtube.com/channel/UC1OAr9-SUJNCUm2svZbfh0A" target="_blank">Media</a></li>
      {# <li><a class="main-nav-link nav-cta" href="#store">Store</a></li> #}
      <li><a class="main-nav-link nav-cta" href="#cta">Contact</a></li>
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>

<main>
  <section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Adam Acree Comedy
        </h1>

        <a href="https://linktr.ee/justacoupleofthoughts" class="btn btn--full margin-right-sm">
        Check Out My Stuff!</a>
        
      </div>

      </div>
    </div>
  </section>
  <section id="podcast" class="section-podcast">
    <div class="podcast-headline">
      <h2 class="heading-secondary">Podcast</h2>
    </div>
    <div class="podcast-wrapper">
      <iframe src="https://open.spotify.com/embed/show/61b4h1mZTwWAMKMGiXQsEO?utm_source=generator" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>  
  </section>
  <section class="section-cta">
        <div class="container cta-container">
          <div class="cta">
            <div class="cta-text-box" id="cta">
              <h2 class="heading-secondary">Ask Us A Question</h2>
              <p class="cta-text">
                If you want to share anything or get featured on the show, fill out the form below.
              </p>

              <form class="cta-form" name="sign-up" netlify>
                <div>
                  <label for="full-name">Full Name</label>
                  <input
                    id="full-name"
                    type="text"
                    placeholder="John Smith"
                    name="full-name"
                    required
                  />
                </div>

                <div>
                  <label for="email">Email address</label>
                  <input
                    id="email"
                    type="email"
                    placeholder="me@example.com"
                    name="email"
                    required
                  />
                </div>


                <div>
                  <label for="select-where">Where did you hear from us?</label>
                  <select id="select-where" name="select-where" required>
                    <option value="">Please choose one option:   &darr;</option>
                    <option value="friends">Friends and family</option>
                    <option value="youtube">YouTube video</option>
                    <option value="podcast">Podcast</option>
                    <option value="ad">Facebook ad</option>
                    <option value="others">Others</option>
                  </select>
                </div>
                <div class="cta-textarea">
                  <label for="share">What would you like to ask/share?</label>
                  <textarea 
                    id="share"
                    type="share"
                    placeholder="Let's have it"
                    name="share"
                    required>
                  </textarea>
                </div>

                <button class="btn btn--form">Submit</button>

                <!-- <input type="checkbox" />
                <input type="number" /> -->
              </form>
            </div>
          </div>
        </div>
  </section>
  
</main>

<footer class="footer">
  <div class="container grid grid--footer">
    <div class="logo-col">
      <span class="footer-logo logo">
        <a href="#">
          ADAM ACREE
        </a>
      </span>


      <ul class="social-links">
        <li>
          <a class="footer-link" target="_blank" href="https://www.instagram.com/awacree/"
            ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://youtube.com/channel/UC1OAr9-SUJNCUm2svZbfh0A"
            ><ion-icon class="social-icon" name="logo-youtube"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://twitter.com/TrueAdamWayne"
            ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
          ></a>
        </li>
      </ul>

      <p class="copyright">
        Copyright &copy; <span class="year">2027</span> by Jacot Studios, Inc. All rights reserved.
      </p>
    </div>

    <div class="address-col">
      <h2 class="footer-heading">FOR MEETINGS/INTERVIEWS CONTACT</h2>
      <address class="contacts">
        <p>
          <a class="footer-link" href="tel:502-260-7334">502-260-7334</a
          ><br />
          <a class="footer-link" href="mailto:mail@jacotstudios.com"
            >mail@jacotstudios.com</a
          >
        </p>
        {# <p class="address">
          623 Harrison St., 2nd Floor, San Francisco, CA 94107
        </p> #}
      </address>
    </div>






  </div>
</footer>